<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package gameId="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net461" />
  <package gameId="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net461" />
  <package gameId="MongoDB.Bson" version="2.4.2" targetFramework="net461" />
  <package gameId="MongoDB.Driver" version="2.4.2" targetFramework="net461" />
  <package gameId="MongoDB.Driver.Core" version="2.4.2" targetFramework="net461" />
  <package gameId="Newtonsoft.Json" version="9.0.1" targetFramework="net461" />
  <package gameId="RestSharp" version="105.2.3" targetFramework="net461" />
  <package gameId="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net461" />
</packages>